* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #312104;
    background-color: wheat;
}

a {
    background-color: rgb(255, 208, 0);
    font-weight: bolder;
    font-size: medium;
}